@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Noto+Sans:wght@100&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Noto+Sans:wght@100&family=Inter:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.linear-bg {
  background: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
}
